# Auto detect text files and perform LF normalization
* text=auto






# ami vanila css a grid completely pari, But library or Tailwind a parchina tai proparly 2 ta section korta pari ni on time a.


# assa korchi tara tari shikha jabo
